<header class="tophny-header">
    <div class="container-fluid">
        <div class="top-right-strip row">
            <!--/left-->
            <div class="top-hny-left-content col-lg-6 pl-lg-0">
                <h6>
                    Discover our new studio, <a href="/Home/About" target="_blank">
                        Click here for <span class="fa fa-hand-o-right hand-icon" aria-hidden="true"></span> <span class="hignlaite">More details</span>
                    </a>
                </h6>
            </div>
            <!--//left-->
            <!--/right-->
            <ul class="top-hnt-right-content col-lg-6">
                @if (Handcraft.Infra.SessionUtils.IsLogged)
                {
                    <li class="transmitvcart galssescart2 cart cart box_1">
                        <button class="top_transmitv_cart">
                            <a href="/Account/Logout">
                                Log Out <i class="fas fa-user-check"></i>
                        </button>

                    </li>
                }
                else
                {
                    <li class="transmitvcart galssescart2 cart cart box_1">
                        <button class="top_transmitv_cart">
                            <a href="/Account/Login">
                                Log In <i class="fas fa-user-lock"></i>
                            </a>
                        </button>
                    </li>
                }
            </ul>
            <!--//right-->
        </div>
    </div>
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid serarc-fluid">
            <a class="navbar-brand" href="/Home/About">
                U<span class="lohny">can</span>craft
            </a>
            <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
            <!--/search-right-->

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa fa-bars"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @ViewBag.Home">
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item @ViewBag.About">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item @ViewBag.Class">
                        <a class="nav-link" href="/Home/Class">Our Classes</a>
                    </li>
                    <li class="nav-item @ViewBag.Contact">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--//nav-->
</header>