@section CustomScripts
{
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!--/login-->
    <script>
        $(document).ready(function () {
            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!--//login-->
}

<section class="w3l-banner-slider-main inner-pagehny">
    <div class="breadcrumb-infhny">

        <div class="top-header-content">

            @{
                Html.RenderPartial("~/Views/Shared/_header.cshtml");
            }
            <div class="breadcrumb-contentnhy">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <h2 class="hny-title text-center">About Us</h2>
                        <ol class="breadcrumb mb-0">
                            <li>
                                <a href="index.html">Home</a>
                                <span class="fa fa-angle-double-right"></span>
                            </li>
                            <li class="active">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
</section>

<section class="w3l-wecome-content-6">
    <!-- /content-6-section -->
    <div class="ab-content-6-mian py-5">
        <div class="container py-lg-5">
            <div class="welcome-grids row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <h3 class="hny-title">
                        About U<span>CAN</span>CRAFT
                    </h3>
                    <p class="my-4">
                        UCANCRAFT helps people experience the joy and satisfaction of making and doing all across the Belgium, and beyond.

                        Based in Brussels since 2011, we offer a choice of thousands of arts, crafts and wellbeing workshops, classes and courses. Every experience is unique: connecting students with expert tutors, each an individual craftsperson, maker, artist and do-er.
                    </p>
                    <p class="mb-4">We want to spread the sense of human fulfilment and 'flow' that being creative can nurture and our company culture is all about providing excellent service to our makers, whether as learners or teachers. Though we are all always learning.</p>
                    <div class="read">
                        <a href="/Home/Class" class="read-more btn">See Our Classes</a>
                    </div>
                </div>
                <div class="col-lg-6 welcome-image">
                    <img src="/images/2.jpg" class="img-fluid" alt="" />
                </div>

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->


<section class="w3l-specification-6">
    <!-- /specification-6-->
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids text-left">
                <div class="col-lg-5 story-gd">
                    <img src="/images/left2.jpg" class="img-fluid" alt="/">
                </div>
                <div class="col-lg-7 story-gd pl-lg-4">
                    <h3 class="hny-title">What We <span>Offer</span></h3>

                    <div class="row story-info-content mt-md-5 mt-4">

                        <div class="col-md-6 story-info">
                            <h5> <a>01. Visit Our Studio</a></h5>
                            <p>
                                Our priority is to support artists in the creation and exhibition of contemporary print in an open-minded, inclusive, safe and collaborative environment.
                            </p>


                        </div>
                        <div class="col-md-6 story-info">
                            <h5> <a>02. Voucher & Gift Cards</a></h5>
                            <p>
                                Our gift vouchers and cards make a unique and thoughtful gift and can be used to choose any of the amazing options on our site.
                            </p>
                        </div>
                        <div class="col-md-6 story-info">
                            <h5> <a>03. Creative tutors</a></h5>
                            <p>
                                For our large community of creative tutors, we offer an effective and efficient way to share their skills with the world and to earn significant additional income. We are here to support artisans, craftspeople, colleges and arts centres all across the Belgium.
                            </p>
                        </div>
                        <div class="col-md-6 story-info">
                            <h5> <a>04. Unique Opportunities</a></h5>
                            <p>
                                We offer accessible, inclusive and affordable facilities, programs and services for artists and the public from across Belgium and abroad. We support artists in the creation and exhibition of contemporary print in an open-minded, safe and collaborative environment. 
                            </p>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->

<!-- features-4 -->

