@model Handcraft.Models.HomeViewModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello <font color="pink">@ViewBag.thamso</font></h2>
<div>
    Le message est @ViewBag.Message
</div>
<h3>@Model.Slider[0].Picture</h3>


